.ButtonOne {
	z-index: 1;
	box-shadow: 0px 0px 0px 0px #9fb4f2;
	background:linear-gradient(to bottom, #b378c2 5%, #9c9546 100%);
	background-color:#b378c2;
	border-radius:28px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:23px;
	font-weight:bold;
	font-style:italic;
	padding:23px 31px;
	text-decoration:none;
	text-shadow:2px -2px 32px #283966;
}
.ButtonOne:hover {
	background:linear-gradient(to bottom, #9c9546 5%, #b378c2 100%);
	background-color:#9c9546;
}
.BurronOne:active {
	position:relative;
	top:1px;
}

.ButtonTwo {
	z-index: 2;
	box-shadow: 0px 0px 0px 0px #9ecdf0;
	background:linear-gradient(to bottom, #c27896 5%, #469c64 100%);
	background-color:#c27896;
	border-radius:28px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:23px;
	font-weight:bold;
	font-style:italic;
	padding:23px 31px;
	text-decoration:none;
	text-shadow:2px -2px 32px #283966;
}
.ButtonTwo:hover {
	background:linear-gradient(to bottom, #469c64 5%, #c27896 100%);
	background-color:#469c64;
}
.ButtonTwo:active {
	position:relative;
	top:1px;
}

.ButtonThree {
	z-index: 3;
	box-shadow: 0px 0px 0px 0px #9ecdf0;
	background:linear-gradient(to bottom, #b378c2 5%, #9c4646 100%);
	background-color:#b378c2;
	border-radius:28px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:23px;
	font-weight:bold;
	font-style:italic;
	padding:23px 31px;
	text-decoration:none;
	text-shadow:2px -2px 32px #283966;
}
.ButtonThree:hover {
	background:linear-gradient(to bottom, #9c4646 5%, #b378c2 100%);
	background-color:#9c4646;
}
.ButtonThree:active {
	position:relative;
	top:1px;
}
